

div#container-1 {
  display: block;
}

/* Each box is placed on the same line */
div.box {
  position: relative;
  display: inline-block;
  min-width: 30%;
  height: 30%;
  background-color:red ;
  margin:1px;
  text-align: center;
}

p.text {
  display: block;
  position: relative;
  top: 25%;
}